::selection{
    background-color: transparent;
}
.top{
    height: 900px;width: 100%;background-image:url("assets/backgrounds/h_img.jpg") !important;
    background-size: cover;background-repeat: no-repeat;overflow: auto;
    display: flex;align-items: center;flex-direction: column;justify-content: center;
}
.hinfo{
    text-align: center;color: white;display: flex;flex-direction: column;justify-content: space-around; align-items: center;
}
.log{
    height: 80px;width: 80px;margin: 2em;
}
.htext{
    font-size: 40px;
}
.sh-info{font-weight: bold;}
.b1-text{
    min-height:300px;width:90% !important;text-align: center !important;display: flex;flex-direction: column;justify-content: space-around; align-items: center; padding:30px;
}
.b2-text{
    min-height:300px;width:100%;background-image:url('assets/backgrounds/s_image.jpg');background-repeat: no-repeat;background-size: cover;display: flex;flex-direction: column;justify-content: space-around; align-items: center;padding: 20px;color:white;
}
.b3-text{
    min-height:250px;width:100%;display: flex;flex-direction: column;justify-content: space-between; align-items: center;padding: 20px;
}
.b3-text-content{
    display: flex;flex-direction: row;justify-content: space-between;align-items: center;width:100%; min-height:200px;padding:20px;
}
.desc{
    height: 96%;width:80%;display:none;text-align: center;font-size: 1em;
}
.m2-div{text-align: center;height: 250px;width:98% !important;}
.m2-cont{text-align: center;}
.portfolio{
min-height: 450px;width:100%; 
}
.project{
    margin:20px !important;max-width: 22% !important; text-align: center !important; min-width:200px !important;
}
.portholder{
    display:flex !important;min-height:300px !important;width:85% !important;flex-direction: row;justify-content: space-around;align-items: center;padding-left:20px !important ;margin:0px auto !important;
}
.contact{
min-height:250px ;width:100%; display: flex;flex-direction: column;justify-content: space-around;align-items: center;padding:20px;background-image: url('assets/backgrounds/c_image.jpg');background-repeat: no-repeat;color: white;
}
.formholder{
    height:auto;width:60%;background: transparent;
}
input[type="text"],[type="email"]{
    background-color: transparent;color:white;border: 2px solid white;height:40px;width:48%;outline: none;
}
::placeholder{
    color:white;
}
textarea{
    background-color: transparent;border: 2px solid white; width: 95%;height:250px;outline:none;resize: none;
}
.nameholder{
    border:2px solid white;background:transparent;color:white;font-weight: bold;font-size:30px;z-index: 9;display:none;width: 80%;height:80%;position: absolute;top:10%;left:10%;
}
.cover{
    background:rgba(38, 31, 15,0.5);z-index: 5;display:none;width: 100%;height:100%;position: absolute;top:0px;left:0px;
}
.socialholder{
    margin-top: 15px !important;margin-bottom: 10px !important;
}